<h1>
  Add a new bookmark
</h1>

<hr>

<%= render("bookmark_templates/validation_failures.html.erb") %>

<form action="/insert_bookmark_record" method="post">
  <div>
    <label for="sublessee_id">
      Sublessee
    </label>

    <input type="text" id="sublessee_id" name="sublessee_id" value="<%= @bookmark.sublessee_id %>">
  </div>

  <div>
    <label for="listing_id">
      Listing
    </label>

    <input type="text" id="listing_id" name="listing_id" value="<%= @bookmark.listing_id %>">
  </div>

  <button>
    Create bookmark
  </button>
</form>

<hr>

<a href="/bookmarks">
  Go back
</a>
